:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #63806f;
  --secondary-color: #86654b;
  --tertiary-color: #d1c8c1;
  --background-color: #f6f6f6;

  --header-color: #3f4a1b;
  --text-color: #3f4a1b;
  --subtitle-color: #526b5c;

}