@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 .auth-page-container {
    display: flex;
    min-height: 95vh;
    width: 100vw;
  }
  
  .auth-left {
    flex: 1;
    background: var(--subtitle-color);;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .auth-left img {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .logo-placeholder {
    -webkit-mask-image: linear-gradient(to right, black 65%, transparent 100%); 
    mask-image: linear-gradient(to right, black 65%, transparent 100%);
    object-fit: cover;
    object-position: center;

  }
  
  
  .auth-right {
    flex: 1;
    background: var(--subtitle-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .auth-content {
    width: 100%;
    max-width: 65%;
    padding: 2.5rem 2rem;
    background: transparent;
    border-radius: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
  }


  .auth-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    color: #e9ecef;
  }

  .form-group label {
    font-family: 'Poppins', sans-serif;
    font-size: 1.9rem;
    margin-bottom: 0.65rem;
    display: block;
    text-align: left;
  }


.form-group input {
    width: 100%;
    padding: 0.9rem 1rem;
    border-radius: 8px;
    border: none;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-size: 1.5rem;
}


a {
    font-weight: 500;
    color: var(--primary);
    text-decoration: inherit;
}

.cancel-btn {
    background-color: #e9ecef;
    color: #6c757d;
    border: 2px solid transparent;
}

.submit-btn {
    background-color: var(--primary);
    color: white;
    border: 2px solid var(--primary);
}

.cancel-btn, .submit-btn {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size:1.7rem;
    font-weight: 500;
    transition: all 0.3s ease;
    outline: none;
    position: relative;
    overflow: hidden;
}

.form-group {
    margin-bottom: 1rem;
}

.form-actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.login-footer {
  padding-top:1.5rem;
  font-size: 1.5rem;
  text-align: left;
}

@media (max-width: 900px) {
  .auth-page-container {
    flex-direction: column;
  }
  .auth-left, .auth-right {
    flex: unset;
    width: 100%;
    min-height: 40vh;
  }
  .auth-content {
    max-width: 100%;
    padding: 32px 12px;
  }
}
